<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.example.mybatisfirst.dao.UserMapper">
    <select id="searchById" resultType="org.example.mybatisfirst.pojo.User">
        SELECT * FROM employee WHERE id = #{id}
    </select>
    <insert id="addUser" parameterType="org.example.mybatisfirst.pojo.User">
        insert into employee(id, name, age, gender, department, position, education, hire_date, join_time, phone) values (#{id}, #{name}, #{age}, #{gender}, #{department}, #{position}, #{education}, #{hireDate}, #{joinTime}, #{phone})
    </insert>
</mapper>