<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 对应你的 Mapper 接口全类名 -->
<mapper namespace="org.example.tliastest.mapper.EmpMapper">
    <select id="selectAll" resultType="org.example.tliastest.pojo.Emp">
        select e.*, d.name as deptName from emp e left join dept d on e.dept_id = d.id
        <where>
            <if test="name != null and name != ''">
                e.name like concat('%',#{name},'%')
            </if>
            <if test="gender != null">
                and e.gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                and e.entry_date between #{begin} and #{end}
            </if>
        </where>
        order by e.entry_date desc
    </select>

    <delete id="delEmp">
        delete from emp
        <where>
            id in <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </delete>
    <!-- 上面的删除员工的原始语句是
         delete from emp where id in (1,2,3) -->
</mapper>