<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 对应你的 Mapper 接口全类名 -->
<mapper namespace="org.example.tliastest.mapper.StudentsMapper">

    <insert id="insert" parameterType="org.example.tliastest.pojo.Student">
        insert into student (name, no, gender, phone, id_card, is_college, address, graduation_date, clazz_id, degree, create_time, update_time)
        values (#{name}, #{no}, #{gender}, #{phone}, #{idCard}, #{isCollege}, #{address}, #{graduationDate}, #{clazzId}, #{degree}, #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="org.example.tliastest.pojo.Student">
        update student
        <set>
            name = #{name},
            no = #{no},
            gender = #{gender},
            phone = #{phone},
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="isCollege != null">is_college = #{isCollege},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="graduationDate != null">graduation_date = #{graduationDate},</if>
            <if test="clazzId != null">clazz_id = #{clazzId},</if>
            <if test="degree != null">degree = #{degree},</if>
            violation_count = #{violationCount},
            violation_score = #{violationScore},
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>

    <update id="violation" parameterType="java.util.Map">
        update student
        <set>
            violation_count = violation_count + 1,
            violation_score = violation_score + #{score},
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from student where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectAll" parameterType="org.example.tliastest.pojo.StudentsQueryParam" resultType="org.example.tliastest.pojo.Student">
        select * , clazz.name as clazzName from student left join clazz on student.clazz_id = clazz.id
        <where>
            <if test="name != null and name != ''">and student.name like concat('%', #{name}, '%')</if>
            <if test="clazzId != null and clazzId != ''">and student.clazz_id = #{clazzId}</if>
            <if test="degree != null and degree != ''">and student.degree = #{degree}</if>
        </where>
    </select>

    <select id="selectById" resultType="org.example.tliastest.pojo.Student">
        select * from student where id = #{id}
    </select>

</mapper>